<!DOCTYPE html>
<html>
<head>
	<title>Pusher Python Realtime Dashboard</title>
</head>
<body>
	<!-- Add to orders -->
	<form method="post" action="/orders">
		<h3>Place a new order</h3>
		<input type="number" name="units" placeholder="units"><br>
		<input type="submit" name="Submit">
	</form>
	<!-- Add to revenues -->
	<form method="post" action="/message">
		<h3>Send a new message</h3>
		<input type="text" name="name" placeholder="name here"><br>
		<textarea  name="message" placeholder="message here"></textarea><br>
		<input type="submit" name="Submit">
	</form>
	<!-- Add to message -->
	<form method="post" action="/customer">
		<h3>Add new customer</h3>
		<input type="text" name="name" placeholder="name here"><br>
		<input type="text" name="position" placeholder="position here"><br>
		<input type="text" name="office" placeholder="office here"><br>
		<input type="number" name="age" placeholder="age here"><br>
		<input type="text" name="salary" placeholder="salary here"><br>
		<input type="submit" name="Submit">
	</form>
</body>
</html>